.bg-gradient {
  // background-image: linear-gradient(
  //   to right top,
  //   #1b482e,
  //   #396a3f,
  //   #5f8e4d,
  //   #8bb259,
  //   #bfd564,
  //   #f9f871
  // );
  background-image: linear-gradient(
    to left bottom,
    #f49d0c,
    #eea524,
    #e9ac35,
    #e4b345,
    #e0b954,
    #cab354,
    #b6ad55,
    #a3a657,
    #7d914e,
    #5a7b46,
    #3c643d,
    #214e34
  );
}

.card-gradient {
  background-image: linear-gradient(
    to right bottom,
    #f49d0c,
    #eea524,
    #e9ac35,
    #e4b345,
    #e0b954,
    #cab354,
    #b6ad55,
    #a3a657,
    #7d914e,
    #5a7b46,
    #3c643d,
    #214e34
  );
}

.accent-border {
  box-shadow: 0 0 0 5px theme("colors.accentGreen-500");
  outline: dashed 5px theme("colors.accentYellow-500");
  outline-offset: 0;
}

.gradient-1 {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
}

.gradient-2 {
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );
}

.gradient-3 {
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
}

.gradient-4 {
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  );
}

.gradient-5 {
  background-image: linear-gradient(
    to right,
    #ffecd2 0%,
    #fcb69f 51%,
    #ffecd2 100%
  );
}

.app-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  &:nth-child(odd) {
    svg {
      @apply odd:fill-accentYellow-500;
    }
  }

  &:nth-child(even) {
    svg {
      @apply fill-accentPurple-500;
    }
  }
}

.navbar-item {
  padding: 10px 18px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  transition: color 0.3s ease;
}

.navbar-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: theme("colors.accentYellow-500");
  transform: scaleX(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  z-index: -1;
}

.navbar-item[data-active="true"] {
  color: white;

  &::before {
    transform: scaleX(1);
  }
}
